!------------------!
! Tryms Xresources !
!------------------!

! Colors
! ------

! black 
*color0: #000000 
! black light
*color8: #f0f0f0
! red dark
*color1: #780000
! red light
*color9: #f00000
! green dark
*color2: #007800
! green light
*color10: #00f000
! yellow dark
*color3: #787800
! yellow light
*color11: #f0f000
! blue dark
*color4: #000078
! blue light
*color12: #0000f0
! magenta dark
*color5: #780078
! magenta light
*color13: #f000f0
! cyan dark
*color6: #007878
! cyan light
*color14: #00f0f0
! white dark
*color7: #b4b4b4
! white light
*color15: #f0f0f0

*background: #000000 
*foreground: #f0f0f0
*cursorColor: #f0f0f0
!*pointerColorBackground: #586e75
!*pointerColorForeground: #93a1a1


! URxvt
! -----

URxvt.depth:                32
URxvt.transparent:          false
URxvt.fading:               0
! URxvt.urgentOnBell:         true
! URxvt.visualBell:           true
URxvt.loginShell:           true
URxvt.saveLines:            512
URxvt.internalBorder:       4
URxvt.lineSpace:            0


! URxvt fonts
! -----------

URxvt*font: xft:IBM Plex Mono Medium:style=Regular:pixelsize=16
URxvt*boldFont: xft:IBM Plex Mono:style=Bold:pixelsize=16

! Fix font space
URxvt*letterSpace: -1

! Optimize ttf fonts
Xft.antialias:              false
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Perl extensions
URxvt.perl-ext-common:      default,matcher
URxvt.matcher.button:       1
URxvt.urlLauncher:          firefox

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorColor:          #657b83
URxvt.cursorUnderline:      false

! Pointer
! URxvt.pointerBlank:         true


